/*
 *  Import Montserrat*
 */

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-Black/fonts/Montserrat-Black.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-Black/fonts/Montserrat-Black.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-Black/fonts/Montserrat-Black.woff')
		format('woff'),
		url('/static/fonts/Montserrat-Black/fonts/Montserrat-Black.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-Black/fonts/Montserrat-Black.svg')
		format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-Bold/fonts/Montserrat-Bold.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-Bold/fonts/Montserrat-Bold.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-Bold/fonts/Montserrat-Bold.woff')
		format('woff'),
		url('/static/fonts/Montserrat-Bold/fonts/Montserrat-Bold.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-Bold/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.woff')
		format('woff'),
		url('/static/fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-ExtraBold/fonts/Montserrat-ExtraBold.svg')
		format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-Light/fonts/Montserrat-Light.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-Light/fonts/Montserrat-Light.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-Light/fonts/Montserrat-Light.woff')
		format('woff'),
		url('/static/fonts/Montserrat-Light/fonts/Montserrat-Light.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-Light/fonts/Montserrat-Light.svg')
		format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-Regular/fonts/Montserrat-Regular.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff')
		format('woff'),
		url('/static/fonts/Montserrat-Regular/fonts/Montserrat-Regular.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-Regular/fonts/Montserrat-Regular.svg')
		format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-SemiBold_0/fonts/Montserrat-SemiBold_0.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-SemiBold_0/fonts/Montserrat-SemiBold_0.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-SemiBold_0/fonts/Montserrat-SemiBold_0.woff')
		format('woff'),
		url('/static/fonts/Montserrat-SemiBold_0/fonts/Montserrat-SemiBold_0.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-SemiBold_0/fonts/Montserrat-SemiBold_0.svg')
		format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat-UltraLight/fonts/Montserrat-UltraLight.eot');
	src:
 local('☺'),
		url('/static/fonts/Montserrat-UltraLight/fonts/Montserrat-UltraLight.woff2')
		format('woff2'),
		url('/static/fonts/Montserrat-UltraLight/fonts/Montserrat-UltraLight.woff')
		format('woff'),
		url('/static/fonts/Montserrat-UltraLight/fonts/Montserrat-UltraLight.ttf')
		format('truetype'),
		url('/static/fonts/Montserrat-UltraLight/fonts/Montserrat-UltraLight.svg')
		format('svg');
	font-weight: 100;
	font-style: normal;
}
